.vs/
*/#backups/*
*/Configs/*/*

*/extensions/*/*.cpp

*/Debug/
*/Release/
Debug/
Release/
export/*.gmz
export/*.gmez
export/*.yyz
export/*.yymp
export/*.yymps
export/*.png
export/*.zip

*.sdf
help.rtf

Steamworks_sdk/*
